apache2
openssl
postgresql
postgresql-contrib
proftpd-mod-mysql
proftpd-mod-crypto
libapache2-mod-php
php-mysql
php-pgsql
php-mbstring
php-zip
php-gd
php-json
php-curl
mysql-server
python3-pip
python3-venv
python3-dev
python3
python-is-python3
certbot
python3-certbot-apache
libmysqlclient-dev
libpq-dev
build-essential
curl
gpg
debconf-utils
nodejs
npm
postfix
postfix-mysql
dovecot-imapd
dovecot-pop3d
dovecot-mysql
dovecot-lmtpd
